@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  :root {
    --plyr-color-main: #FFE090;
      --plyr-audio-controls-background: #fefff6bb;
      --plyr-audio-control-color: #01031B;
      --plyr-audio-control-color-hover: #01031B ;
      --plyr-audio-progress-buffered-background: #F8D0B0;
      --plyr-font-family: sans-serif;
      --plyr-font-size-time: 22px;
      --plyr-tooltip-background: #FFE090;
      --plyr-tooltip-color: #01031B; 
      --plyr-control-icon-size: 32px;
  }

body {

 background-image: url("headerimg.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;

 background-size: cover;


  margin: 0;
  padding: 0;
  margin-top: -2em;
  margin-bottom: -2em;


}

main {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
  font-size: 1.5rem;
}

main p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}



main h1 {
  color: #F6F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
  filter: drop-shadow (16px 16px #F6F8FF);


  animation: fadeIn;
  animation-duration: .75s;
  animation-delay: 2s;
  animation-fill-mode: both;

}

main h3 {
  color: #F6F8FF;
  margin-top: -.5em;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: .75s;
  animation-delay: 2s;
  animation-fill-mode: both;
  
}

main article {
   /* padding: 50px;
   margin: 1em auto;  */
  
   display: flex;
   gap: 1em;
   flex-wrap: wrap;
   justify-content: center;

   margin-bottom: 1em;


   animation: fadeIn;
   animation-duration: .75s;
   animation-delay: 2s;
   animation-fill-mode: both;

}

div {
  animation: slideDown;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

a h3:hover{
color: #FFE090;
}

a:link{
  text-decoration: none;
}



figure {

  background: #fefff6bb;
  color: #01031B;
  padding: 1em; 
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
 

 max-width: 15em;  
 min-height: 15em;
}





  /* Animation Keyframs */
  @keyframes fadeIn{
    0% {
      opacity: 0;
      transform: translateY(-5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDown{
    0%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(0);
    }
  }


  /* Media Queries */

  @media  (max-width: 600px) {
  

    background-color: blue;

    :root {
      --plyr-font-size-time: 18px;
      --plyr-control-icon-size: 18px;
    }
    
    main h1{
      font-size: .95em;
    }

    main h3 {
      font-size: .85em;
    }

    main p {
      font-size: .75em;
    }