@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  margin-top: -2em;
  margin-bottom: -2em;
}

main {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
  font-size: 1.5rem;
}

main p {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
  font-size: 1.25rem;
}
main {
    background-image: url(meadow.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

  

main h1 {
  color: #F6F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
  filter: drop-shadow (16px 16px #B3ADFE);


  animation: fadeIn;
  animation-duration: .75s;
  animation-delay: 2s;
  animation-fill-mode: both;

}

main h3 {
  color: #F6F8FF;
  margin-top: -.5em;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: .75s;
  animation-delay: 2s;
  animation-fill-mode: both;
  
}

a h3:hover{
color: #B3ADFE;
}

a:link{
  text-decoration: none;
}

article figure p {
   padding: 50px;
   margin: 1em auto;
   display: flexbox;
   align-items: center;
   justify-content: center;
   color: #F6F8FF;
   background-color: #01031ba8;

   animation: fadeIn;
   animation-duration: .75s;
   animation-delay: 2s;
   animation-fill-mode: both;

}



  :root {
    --plyr-color-main: #9089f7;
      --plyr-audio-controls-background: #fefff6bb;
      --plyr-audio-control-color: #01031B;
      --plyr-audio-control-color-hover: #01031B ;
      --plyr-audio-progress-buffered-background: #01031B;
      --plyr-font-family: sans-serif;
      --plyr-font-size-time: 22px;
      --plyr-tooltip-background: #B3ADFE;
      --plyr-tooltip-color: #01031B; 
      --plyr-control-icon-size: 32px;
  }

  @keyframes fadeIn{
    0% {
      opacity: 0;
      transform: translateY(-5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDown{
    0%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(0);
    }
  }

  @media  (max-width: 600px) {
  

    background-color: blue;

    :root {
      --plyr-font-size-time: 18px;
      --plyr-control-icon-size: 18px;
    }
    
    main h1{
      font-size: .95em;
    }

    main h3 {
      font-size: .85em;
    }

    main p {
      font-size: .75em;
    }